/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.idea
resources/assets/node_modules
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.docker/data
!.docker/data/.gitkeep
!docker/data/postgress/.gitkeep
.docker/data/logs
!.docker/data/logs/.gitkeep